.box-border-shadow-bt-red {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid red;
}

.button {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: 1px solid red;
    border-radius: 15px;
    transition: 0.7s;
    width: 10px;
}

.button:hover {
    background-color: white;
    color: red;
    transition: 0.7s;
}
