
.overlay-image {
    position: absolute;
    bottom: 0;
    left: 1;
    opacity: 0.7; /* adjust opacity to your liking */
    width: 200px;
  }

.fs-10 {
    font-size: 10px;
}

.fs-13 {
    font-size: 13px;
}

.view-event-btn {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: 1px solid red;
    border-radius: 15px;
    transition: 0.7s;
    
}

.view-event-btn:hover{
    background-color: white;
    color: red;
    transition: 0.7s;
}

.view-event-btn-disabled {
    opacity: 0.5
}

.box-border-shadow {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #FDC32D;
    border-radius: 10px;
}

.box-border-shadow-bt-red {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid red;
    border-radius: 10px;
}

.two-color-in-div{
    background: linear-gradient(to right, white 50%, #f2f2f2 50%);
}



